<h1>Headache of Long URL?</h1>
<p>We have way to get rid of them.</p>
<form action="/urls" method="post">
	<input id="input_box" type="text" name="long_url" placeholder="Insert here!">
	<input id="submit_button" type="submit" value="Simplify it!">
</form>

<h3 id="invalid_url_message"> Invalid URL. Please try again.</h3>
